/.vs
/packages
/SimpleWebSockerServer.Console.Client/bin
/SimpleWebSockerServer.Console.Client/obj
/SimpleWebSockerServer.Console.Server/bin
/SimpleWebSockerServer.Console.Server/obj
/SimpleWebSocketServer/bin
/SimpleWebSocketServer/obj
/SimpleWebSocketServer/nugetPackagePush.cmd
/SimpleWebSockerServer.Console.Client/.vs/SimpleWebSockerServer.Console.Client.csproj.dtbcache.json
/SimpleWebSockerServer.Console.Server/.vs/SimpleWebSockerServer.Console.Server.csproj.dtbcache.json
